<nav class="navbar navbar-expand-sm navbar-light bg-light shadow">
  <a class="navbar-brand" href="#">Blog Node.JS</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i> Gestão</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="/admin/artigos">Artigos</a>
          <a class="dropdown-item" href="/admin/categorias">Categorias</a>
        </div>
      </li>
    </ul>
    <div class="div-inline my-2 my-lg-0">
      <span class="my-2 my-sm-0">Logado como <span class="badge badge-secondary">Admin</span></span>
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><i class="fa fa-sign-out" aria-hidden="true"></i>Sair</button>
    </div>
  </div>
</nav>