<%- include('../../components/head.ejs'); %>
  <%- include('../../components/header.ejs'); %> 
  <h1>Bem vindo a rota New Cathegory</h1>
  <%- include('../../components/footer.ejs'); %> 
<%- include('../../components/tail.ejs'); %>